<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
php_flag display_errors 0
php_flag short_open_tag 1
php_flag allow_url_include 0
php_flag ignore_repeated_errors 0
php_flag expose_php 1
php_value allow_url_fopen 1
php_value max_input_vars 10000
php_value register_argc_argv 0
php_value file_uploads 1
php_value max_file_uploads 20
DirectoryIndex index.htm index.html index.phtml index.php3 index.php index.cgi index.asp default.htm default.html index.msql Welcome.html welcome.html Welcome.phtml welcome.phtml index.shtml index.wml main.wml Index.htm Default.htm INDEX.HTM DEFAULT.HTM Index.html